<!--The content below is only a placeholder and can be replaced.-->
<base href="/">
<div class="row">
  <div class="sidebar">
    <div class="box-sidebar">
      <a routerLink="posts" routerLinkActive="active">Posts</a>
      <a routerLink="albums" routerLinkActive="active">Àlbuns</a>
      <a routerLink="users" routerLinkActive="active">Usuários</a>
    </div>
  </div>
  <div class="content">
    <div class="box-content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div>
    <div class="box-content">
      <div class="fb-comments" data-href="http://localhost:4200/" data-width="200px" data-numposts="1"></div>
    </div>
  </div>
</div>

