<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="sidebar">
    <div class="box-sidebar">
      <ul>
        <li><a routerLink="posts" routerLinkActive="active">Posts</a></li>
        <li><a routerLink="comments" routerLinkActive="active">Comentarios</a></li>
        <li><a routerLink="albums" routerLinkActive="active">Albuns</a></li>
        <li><a routerLink="photos" routerLinkActive="active">Photos</a></li>
        <li><a routerLink="users" routerLinkActive="active">Usuarios</a></li>
        <li><a routerLink="todos" routerLinkActive="active">Todos</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="box-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

